USE [master]
GO
/****** Object:  Database [SistemaProyectosDB]    Script Date: 26/10/2024 19:57:53 ******/
CREATE DATABASE [SistemaProyectosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaProyectosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaProyectosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaProyectosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaProyectosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaProyectosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaProyectosDB]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 26/10/2024 19:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[idAdmin] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 26/10/2024 19:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 26/10/2024 19:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[idEmployee] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NULL,
	[comment] [varchar](255) NULL,
	[workStation] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idEmployee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu]    Script Date: 26/10/2024 19:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu](
	[idMenu] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[nameForm] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permission]    Script Date: 26/10/2024 19:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permission](
	[idPermission] [int] IDENTITY(1,1) NOT NULL,
	[idMenu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPermission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proyect]    Script Date: 26/10/2024 19:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proyect](
	[idProyect] [int] IDENTITY(1,1) NOT NULL,
	[dateInit] [date] NULL,
	[dateEnd] [date] NULL,
	[description] [varchar](255) NULL,
	[titleName] [varchar](100) NULL,
	[idStatusProyect] [int] NULL,
	[idClient] [int] NULL,
	[idEmployee] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idProyect] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 26/10/2024 19:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[idRoles] [int] IDENTITY(1,1) NOT NULL,
	[Rol] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idRoles] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rolPermission]    Script Date: 26/10/2024 19:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rolPermission](
	[idRolPermission] [int] IDENTITY(1,1) NOT NULL,
	[idRoles] [int] NULL,
	[idPermission] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idRolPermission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statusProyect]    Script Date: 26/10/2024 19:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statusProyect](
	[idStatusProyect] [int] IDENTITY(1,1) NOT NULL,
	[statusproyect] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idStatusProyect] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[task]    Script Date: 26/10/2024 19:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task](
	[idTask] [int] IDENTITY(1,1) NOT NULL,
	[nameTask] [varchar](100) NULL,
	[descriptionTask] [varchar](255) NULL,
	[idEmployee] [int] NULL,
	[idProyect] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idTask] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26/10/2024 19:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[nameuser] [varchar](50) NULL,
	[lastName] [varchar](50) NULL,
	[birthdate] [date] NULL,
	[numberPhone] [varchar](15) NULL,
	[passworduser] [varchar](100) NULL,
	[country] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[statususer] [varchar](20) NULL,
	[DateRegistration] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([idAdmin], [idUser]) VALUES (1, 2)
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([idCliente], [idUser]) VALUES (1, NULL)
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[employee] ON 

INSERT [dbo].[employee] ([idEmployee], [idUser], [comment], [workStation]) VALUES (1, NULL, N'Desarrollador Full Stack', N'Oficina 101')
SET IDENTITY_INSERT [dbo].[employee] OFF
GO
SET IDENTITY_INSERT [dbo].[proyect] ON 

INSERT [dbo].[proyect] ([idProyect], [dateInit], [dateEnd], [description], [titleName], [idStatusProyect], [idClient], [idEmployee]) VALUES (1, CAST(N'2024-01-01' AS Date), CAST(N'2024-06-01' AS Date), N'Proyecto de migración a la nube', N'Migración Nube', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[proyect] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([idRoles], [Rol]) VALUES (1, N'Admin')
INSERT [dbo].[roles] ([idRoles], [Rol]) VALUES (2, N'Empleado')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[statusProyect] ON 

INSERT [dbo].[statusProyect] ([idStatusProyect], [statusproyect]) VALUES (1, N'En Proceso')
INSERT [dbo].[statusProyect] ([idStatusProyect], [statusproyect]) VALUES (2, N'Finalizando')
INSERT [dbo].[statusProyect] ([idStatusProyect], [statusproyect]) VALUES (3, N'Finalizado')
SET IDENTITY_INSERT [dbo].[statusProyect] OFF
GO
SET IDENTITY_INSERT [dbo].[task] ON 

INSERT [dbo].[task] ([idTask], [nameTask], [descriptionTask], [idEmployee], [idProyect]) VALUES (1, N'Desarrollo Backend', N'Implementación del API REST', 1, 1)
SET IDENTITY_INSERT [dbo].[task] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([idUser], [nameuser], [lastName], [birthdate], [numberPhone], [passworduser], [country], [city], [statususer], [DateRegistration]) VALUES (2, N'Lucía', N'Fernández', CAST(N'1988-07-15' AS Date), N'555112233', N'luciaAdmin', N'Argentina', N'Mendoza', N'Activo', CAST(N'2024-10-25T23:38:20.000' AS DateTime))
INSERT [dbo].[Users] ([idUser], [nameuser], [lastName], [birthdate], [numberPhone], [passworduser], [country], [city], [statususer], [DateRegistration]) VALUES (5, N'Aristides', N'Fuentes', CAST(N'2005-07-01' AS Date), N'79125691', N'123', N'El Salvador', N'San Salvador', N'Activo', CAST(N'2024-10-25T17:49:22.543' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [DateRegistration]
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([idUser])
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK__Clients__idUser__4E88ABD4] FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([idUser])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK__Clients__idUser__4E88ABD4]
GO
ALTER TABLE [dbo].[employee]  WITH CHECK ADD  CONSTRAINT [FK__employee__idUser__5165187F] FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([idUser])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[employee] CHECK CONSTRAINT [FK__employee__idUser__5165187F]
GO
ALTER TABLE [dbo].[permission]  WITH CHECK ADD FOREIGN KEY([idMenu])
REFERENCES [dbo].[menu] ([idMenu])
GO
ALTER TABLE [dbo].[proyect]  WITH CHECK ADD  CONSTRAINT [FK__proyect__idClien__571DF1D5] FOREIGN KEY([idClient])
REFERENCES [dbo].[Clients] ([idCliente])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[proyect] CHECK CONSTRAINT [FK__proyect__idClien__571DF1D5]
GO
ALTER TABLE [dbo].[proyect]  WITH CHECK ADD  CONSTRAINT [FK__proyect__idEmplo__5812160E] FOREIGN KEY([idEmployee])
REFERENCES [dbo].[employee] ([idEmployee])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[proyect] CHECK CONSTRAINT [FK__proyect__idEmplo__5812160E]
GO
ALTER TABLE [dbo].[proyect]  WITH CHECK ADD FOREIGN KEY([idStatusProyect])
REFERENCES [dbo].[statusProyect] ([idStatusProyect])
GO
ALTER TABLE [dbo].[rolPermission]  WITH CHECK ADD FOREIGN KEY([idPermission])
REFERENCES [dbo].[permission] ([idPermission])
GO
ALTER TABLE [dbo].[rolPermission]  WITH CHECK ADD FOREIGN KEY([idRoles])
REFERENCES [dbo].[roles] ([idRoles])
GO
ALTER TABLE [dbo].[task]  WITH CHECK ADD FOREIGN KEY([idEmployee])
REFERENCES [dbo].[employee] ([idEmployee])
GO
ALTER TABLE [dbo].[task]  WITH CHECK ADD FOREIGN KEY([idProyect])
REFERENCES [dbo].[proyect] ([idProyect])
GO
USE [master]
GO
