USE [master]
GO
/****** Object:  Database [SistemaProyectosDB]    Script Date: 29/11/2024 12:12:17 p. m. ******/
CREATE DATABASE [SistemaProyectosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaProyectosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaProyectosDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaProyectosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaProyectosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaProyectosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaProyectosDB]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 29/11/2024 12:12:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[idAdmin] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 29/11/2024 12:12:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 29/11/2024 12:12:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[idEmployee] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NULL,
	[comment] [varchar](255) NULL,
	[workStation] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idEmployee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu]    Script Date: 29/11/2024 12:12:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu](
	[idMenu] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[nameForm] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permission]    Script Date: 29/11/2024 12:12:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permission](
	[idPermission] [int] IDENTITY(1,1) NOT NULL,
	[idMenu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPermission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefusedProject]    Script Date: 29/11/2024 12:12:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefusedProject](
	[idRefused] [int] IDENTITY(1,1) NOT NULL,
	[idProject] [int] NULL,
	[fileRefused] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[idRefused] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestProjectClient]    Script Date: 29/11/2024 12:12:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestProjectClient](
	[idProject] [int] IDENTITY(1,1) NOT NULL,
	[idClient] [int] NULL,
	[codeProject] [nvarchar](6) NOT NULL,
	[nameProject] [nvarchar](200) NOT NULL,
	[descriptionProject] [nvarchar](200) NOT NULL,
	[file] [varbinary](max) NULL,
	[idStatusProject] [int] NULL,
	[idRefused] [int] NULL,
	[dateInit] [date] NULL,
	[dateEnd] [date] NULL,
	[dateRegistration] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idProject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 29/11/2024 12:12:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[Rol] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rolPermission]    Script Date: 29/11/2024 12:12:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rolPermission](
	[idRolPermission] [int] IDENTITY(1,1) NOT NULL,
	[idRoles] [int] NULL,
	[idPermission] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idRolPermission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statusProyect]    Script Date: 29/11/2024 12:12:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statusProyect](
	[idStatusProyect] [int] IDENTITY(1,1) NOT NULL,
	[statusproyect] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idStatusProyect] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[taskEmployeesStatus]    Script Date: 29/11/2024 12:12:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taskEmployeesStatus](
	[idStatusTask] [int] IDENTITY(1,1) NOT NULL,
	[statusTask] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idStatusTask] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[taskProjects]    Script Date: 29/11/2024 12:12:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taskProjects](
	[idTask] [int] IDENTITY(1,1) NOT NULL,
	[codeProject] [nvarchar](6) NULL,
	[nameTask] [varchar](100) NULL,
	[descriptionTask] [varchar](255) NULL,
	[idEmployee] [int] NULL,
	[idStatusTask] [int] NULL,
	[dateEnd] [date] NULL,
	[fileTask] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTask] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29/11/2024 12:12:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[nameuser] [varchar](50) NULL,
	[lastName] [varchar](50) NULL,
	[birthdate] [date] NULL,
	[numberPhone] [varchar](15) NULL,
	[passworduser] [varchar](100) NULL,
	[country] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[statususer] [varchar](20) NULL,
	[DateRegistration] [datetime] NULL,
	[UserAccount] [varchar](255) NULL,
	[idRol] [int] NULL,
	[email] [varchar](100) NULL,
	[Image] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[RequestProjectClient] ADD  DEFAULT (getdate()) FOR [dateRegistration]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [DateRegistration]
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([idUser])
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK__Clients__idUser__4E88ABD4] FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([idUser])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK__Clients__idUser__4E88ABD4]
GO
ALTER TABLE [dbo].[employee]  WITH CHECK ADD  CONSTRAINT [FK__employee__idUser__5165187F] FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([idUser])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[employee] CHECK CONSTRAINT [FK__employee__idUser__5165187F]
GO
ALTER TABLE [dbo].[permission]  WITH CHECK ADD FOREIGN KEY([idMenu])
REFERENCES [dbo].[menu] ([idMenu])
GO
ALTER TABLE [dbo].[RequestProjectClient]  WITH CHECK ADD FOREIGN KEY([idClient])
REFERENCES [dbo].[Clients] ([idCliente])
GO
ALTER TABLE [dbo].[RequestProjectClient]  WITH CHECK ADD FOREIGN KEY([idRefused])
REFERENCES [dbo].[RefusedProject] ([idRefused])
GO
ALTER TABLE [dbo].[RequestProjectClient]  WITH CHECK ADD FOREIGN KEY([idStatusProject])
REFERENCES [dbo].[statusProyect] ([idStatusProyect])
GO
ALTER TABLE [dbo].[rolPermission]  WITH CHECK ADD FOREIGN KEY([idPermission])
REFERENCES [dbo].[permission] ([idPermission])
GO
ALTER TABLE [dbo].[rolPermission]  WITH CHECK ADD FOREIGN KEY([idRoles])
REFERENCES [dbo].[roles] ([idRol])
GO
ALTER TABLE [dbo].[taskProjects]  WITH CHECK ADD FOREIGN KEY([idEmployee])
REFERENCES [dbo].[employee] ([idEmployee])
GO
ALTER TABLE [dbo].[taskProjects]  WITH CHECK ADD FOREIGN KEY([idStatusTask])
REFERENCES [dbo].[taskEmployeesStatus] ([idStatusTask])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [Fk_Roles] FOREIGN KEY([idRol])
REFERENCES [dbo].[roles] ([idRol])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [Fk_Roles]
GO
USE [master]
GO
